aif360==0.6.1
fairlearn==0.10.0
fastapi==0.111.0
uvicorn==0.29.0
firebase-admin==6.5.0
python-multipart==0.0.9
pandas==2.2.2
numpy==1.26.4
pydantic==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
google-generativeai==0.5.4
scikit-learn==1.4.2
scipy==1.13.0
matplotlib==3.8.4
seaborn==0.13.2
reportlab==4.1.0
openpyxl==3.1.2
